    <% provide(:title, "About") %>
	<h1><%= t('.about') %></h1>
	<p>
	  Contact me: pierre dot noizat at paymium dot com.
	</p>


<h4>About the author</h4>
    <p>I am Pierre Noizat, bitcoin enthusiast, co-founder of paymium.com, author of "Bitcoin Book" (in French, English translation is in the works) and of several articles. Links can be found on my <a href="http://www.e-ducat.fr" style="color:rgb(0,0,0);" target="_blank">blog</a>. I have developped this site in my spare time as a service to the community. The site is a showcase for e-commerce professionals to demonstrate how much easier a bitcoin checkout process can be compared to a traditionnal bank card online checkout.</p>

    <h4>Why you should find microbitcoin.net interesting?</h4>
    <p>Microbitcoin.net is a project meant to facilitate building an e-commerce site offering bitcoin as a payment option.</p>

	<h4>Credits</h4>
    <p>Microbitcoin.net is using the wonderful Paymium gem <a href="https://github.com/Paymium/paymium_api" style="color:rgb(0,0,0);" target="_blank">'paymium_api'</a>.</p>
