<h3><%= t('.select') %></h3>



<div class="container-fluid">
	<div class="row" >
	<% @products.each_slice(4) do |products_for_row| %>
		<div class="col-md-12" >
		<% products_for_row.each do |product| %>
			<div class="col-md-3" style="height: 500px;" >

			<%= render product %>

			</div>
		<% end %>
		</div></br></br>
	<% end %>
	</div>
	
</div>