<footer class="footer">
  <small>
    E-commerce demo site - <a href="https://github.com/pierrenoizat" target="_blank"><%= t('.submit_issues') %>Github</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t('.about'),   static_pages_about_path %></li>
      <li><a href="http://www.e-ducat.fr" style="color:rgb(0,0,0);" target="_blank">blog</a></li>
	  
    </ul>
  </nav>
</footer>